@charset "UTF-8";


    body {
        background-image: linear-gradient(to right, #03A696, #04BF9D);
        font-family: Arial, Helvetica, sans-serif;
    }

    main {
        background-color: #FFFFFC;
        width: 600px;
        border-radius: 10px;
        padding: 15px;
        margin: auto;
        box-shadow: 10px 10px 0px #253659;
    }

    h1 {
        color: #F28157;
        text-align: center;
        font-family: ;
    }

    h2 {
        color: #F28157;
        text-align: left;
    }

    p {
        text-align: justify;
    }
    iframe {
        margin: 0px 125px;
    }
