@charset "UTF-8";

body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
}



div {
    display: inline-block;
    background-color: lightgray;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
}

div > p {
    display:none
}

div:hover {
    background-color: aquamarine;
}

div:hover > p {
    display:block
}

main {
    background-color: #FEFCFD;
    width: 780px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #494E69 ;
    padding: 15px;
    margin: auto;
}

a {
    color: #494E69;
    text-decoration: none;
    font-weight: bolder;
}

a:visited {
    color: aquamarine;
}

a:hover {
    color: yellow;
}
a:active {
    color: red;
}

a::after {
    content: [link];
    color: darkgray;
    font-weight: light;
}
